
@using Microsoft.AspNetCore.Http.Features;

<div id="cookie-alert">
    <div class="alert">
        <form class="btn-group-vertical" action="@Url.Action("AllowCookies", "Site", new {returnUrl = Context?.Request?.HttpContext?.Features?.Get<IHttpRequestFeature>()?.RawTarget})" method="post">
        <p>To optimize this website's operation some information is stored on your device as described in our &nbsp;<a asp-controller="Home" asp-action="Cookies">Cookie Policy</a>. Do you agree?&nbsp;&nbsp;&nbsp; 
            <input type="submit" name="allow" class="btn btn-success" value="Accept"/></p>
        </form>
    </div>
</div>
