@{
    ViewData["Title"] = "Home Page";
}

<h1>GDPR-AspNetCore20</h1>

<h3>Sample implementation of <a href="https://gdpr-info.eu/" target="_blank">E.U. General Data Protection Regulations</a></h3>

<hr />
<h3>WISA Stack</h3>
<ul>
    <li>Windows</li>
    <li>IIS</li>
    <li>SQL Server</li>
    <li>ASP.NET Core 2.0 MVC C#</li>
</ul>

<p>AskCookieConsent: @(ViewBag.AskCookieConsent)</p>   
<p>HasCookieConsent: @(ViewBag.HasCookieConsent)</p> 


<h3>Tests</h3>
<ul>
    <li><a asp-controller="Home" asp-action="Test" asp-route-id="5">Test url with query</a></li>
</ul>
