@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="display-4">Welcome</h2>
<partial name="~/Pages/Shared/_StatusMessage.cshtml" for="StatusMessage" />

<partial name="~/Pages/Shared/_Tip.cshtml" for="Tip" />