@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<p>ImageQC Ltd. is a private Limited Company, registered in England. Reg No. 09483781. Director: William Stott. Registered Office: 71-75 Shelton Street. London. WC2H 9JQ. You can contact us at:</p>
<br />

<address>
    ImageQC Limited<br />
    71-75 Shelton Street<br />
    London. WC2H 9JQ<br />
    <abbr title="Phone">Tel:</abbr>+44(0)207 859 4359<br /> 
    <br />
    <strong>Enquries:</strong> <a href="mailto:admin@imageqc.com?subject='Message from AutoGDPR Website'">admin@imageqc.com</a>
</address>


