@page 
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

<h3>@Model.URDCount</h3>

@await Html.PartialAsync("_Tip", Model.Tip)